{% extends 'feed/base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    {% if user.is_authenticated == True %}
            <div class="card">
                <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
                <h5 class="card-title">{{ post.title }}</h5>
                <div class="card-body">
                    <p class="card-text">{{ post.description }}</p>
                    <small class="text-muted">{{post.datetime}} by @{{ post.author }}</small>
                </div>
            </div>
    {% endif %}
{% endblock %}