{% extends 'feed/base.html' %}
{% block title %}Log In{% endblock %}


{% block content %}
    <div class="login">
        <h2>Log In</h2><br>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
                <input type="text" name="username" placeholder="Username..."
                class="form">
            </div>
            <div class="input-group mb-2">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                <input type="password" name="password" placeholder="Password..."
                class="form">
            </div>
            <button type="submit" class="btn btn-success">Log In</button>
        </form>




        <div class="mt-4">
            {% for message in messages %}
                <p id="messages">{{ message }}</p>
            {% endfor %}
            <div class="d-flex justify-content-center links">
                Do not have an account? <a href="{% url 'signup' %}" class="ml-2">Create</a>
            </div>
        </div>

        <div class="mt-4">
            {% for message in messages %}
                <p id="messages">{{ message }}</p>
            {% endfor %}
            <div class="d-flex justify-content-center links">
                 <a href="{% url 'reset_password' %}" class="ml-2">Forgot password?</a>
            </div>
        </div>
    </div>

{% endblock %}