{% extends 'feed/base.html' %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Password Reset {% endblock %}</title>
</head>
<body>
    {% block content %}
        <div class="reset_pass">
            <h3>Password reset</h3>
            <p>You've forgotten your password? Enter your e-mail address
            below, and we'll send instructions for setting a new one.</p>

            <form action="" method="POST">

                {% csrf_token %}
                {{ form }}
                <input type="submit" name="Send email" value="Send email">
            </form>
        </div>
    {% endblock %}
</body>
</html>