{% extends 'feed/base.html' %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Email sent {% endblock %}</title>
</head>
<body>
    {% block content %}
        <div class="reset_pass_sent">
            <h3>Password reset sent</h3>
            <p>We’ve emailed you instructions for setting your password,
                if an account exists with the email you entered. You should receive them shortly.
                If you don’t receive an email, please make sure you’ve entered the address you
                registered with, and check your spam folder.</p>
        </div>
    {% endblock %}
</body>
</html>